@import '../style-assets/typography';
@import '../mixins/typegraphyMixin';



.custom-input{
    input[type="text"]{
        outline: none;
        border: 1px solid #d5d5d5;
    }

    input[type="text"]:focus{
        border: 1px solid green;
    }
}