.footer-container{
    position: absolute;
    bottom: 0px;
    left: 30px;
}

@media only screen and (max-width: 768px) {
    .footer-container{
        position:initial;
        margin-top: 20px;
        text-align: center;
    }
}