.ventchat{
    height: 90vh;
    width: 100%;

    .ventchat-welcome{
        min-height: 100%;
        width: 100%;
        align-content: center;
        overflow-y: hidden;
    }

    .ventchat-guideline{
        min-height: 100%;
        width: 100%;

        align-content: center;
    }

    @media only screen and (max-width: 768px) {
        .ventchat-guideline{
            margin-top: 40px;
        }
    
    }


}


.vent-chat-message-demo-container{
    display: block;
}

@media only screen and (max-width: 768px) {
    .vent-chat-message-demo-container{
        display: none !important;
    }
}