.ventchat{
    height: 90vh;
    width: 100%;

    .ventchat-welcome{
        min-height: 100%;
        width: 100%;
        align-content: center;
        overflow-y: hidden;
    }

    .ventchat-leaf-responsive{
        overflow:hidden
    }

    .sunrise{
        width: 640px;
        height: 240px;
        overflow: hidden;
        position: relative;
        background: url('../../images/sunrise.gif');
        background-position: center;
        margin-top: 50px;
    }

    .QueueContainer{
        background: linear-gradient(91.38deg, #22A868 0.93%, #39F46D 100%);
        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 50px;
        padding-right: 50px;
        border-radius: 10px;
    }

    .QueueContainer span {
        color:white !important;
    }

    .ventchat-guideline{
        min-height: 100%;
        width: 100%;

        align-content: center;
    }

    .welcome-text{
        margin-top: 20px;
        margin-bottom: 0px;
    }

    @media only screen and (max-width: 768px) {


        .welcome-text{
            margin-top: 10px;
        }

        .ventchat-guideline{
            margin-top: 40px;
        }

        .ventchat-leaf-responsive{
            overflow:initial
        }

        .sunrise{
            width: 100%;
            margin-top: 10px;
        }
    
    }


}


.vent-chat-message-demo-container{
    display: block;
}

@media only screen and (max-width: 768px) {

    .ventchat{
        height: initial;
    }

    .vent-chat-message-demo-container{
        display: none !important;
    }
}