<div class="ventchat">
    <div class="ventchat-leaf-responsive" style="position: relative; width: 100%; height: 100%;">
       <div class="d-none d-sm-block" style="position: absolute; bottom: -100px; right: -150px; z-index: -1;"><img [src]="'assets/images/leaf.jpg'" width="500px" style="transform: rotate(-6deg);"></div>
       <div  class="d-flex flex-column justify-content-around align-items-center">
          <div class="sunrise"></div>
          <div class="w-100">
             <div class="welcome-text" style="text-align: center;">
               <h1 class="heading3" style="color: rgb(12, 165, 36); margin-bottom: 15px;">Vent Out Or Listen</h1>
               <h1 class="heading5" style="margin-bottom: 30px;">to a random person anonymously</h1>
             </div>
             <div class="d-flex flex-column align-items-center" style="margin-bottom: 20px;">
               <button mat-flat-button color="primary">Start Now</button>
               <h2 class="subtitle2" style="margin-top: 10px;">No sign in Required</h2>
             </div>
          </div>
       </div>
    </div>
 </div>